$theme-color: darkslateblue;

a {
    color: $theme-color;
}
.nav-list .nav-list-item .nav-list-expander {
    color: $theme-color;
}
.side-bar {
    background-color: #fff;
    border: none;
}
.site-header {
    border: none;
    color: $theme-color;
}
.nav-list .nav-list-item .nav-list-link:hover, .nav-list .nav-list-item .nav-list-link.active {
    background: #ebedf5;
}