$theme-color: darkslateblue;

a {
    color: $theme-color;
}
.nav-list .nav-list-item .nav-list-expander {
    color: $theme-color;
}
.side-bar {
    background-color: #fff;
    border: none;
}
.site-header {
    border: none;
    color: $theme-color;
}
.site-title {
    color: $theme-color;
}
.site-title:hover {
    background: #ebedf5;
}
.nav-list .nav-list-item .nav-list-expander:hover  {
    background: none;
    background-image: none;
    cursor: pointer;
}
.nav-list .nav-list-item .nav-list-link:hover{
    background: none;
    background-image: none;
    font-weight: 600;
}
.nav-list .nav-list-item .nav-list-link.active:hover {
    background-image: (-90deg, #ebedf5 0%, rgba(235, 237, 245, 0.8) 80%, rgba(235, 237, 245, 0) 100%);
}